<!DOCTYPE html>

<html>

  <head>
    <link href="../static/stylesheets/index_style.css" type="text/css" rel="stylesheet">
    <link href="../static/stylesheets/page_style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png')}}">
  </head>


  <body>
    <a href="./">
        <!--
          <img src="{{ url_for('static', filename="logo.png")}}" class="page_logo"> 
        -->
        <img src="../static/logo.png" class="page_logo">
    </a>
    
  <p class="text">
      <strong>Your request has been posted, Thank You!</strong>
    </p>
    
  </body>


</html>